.error-alert {
  display: flex;
  justify-content: center;
  /* display: block; */
  margin-bottom: 3vh;
}

.error-message {
  padding-right: 20px;
  font-size: 18px;
  /* list-style: circle; */
  color: rgb(182, 48, 0);
}
